body {
    background-color: black;
    color: white;
    text-align: center;
    font-size: 25px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-image: linear-gradient(to left top, #255ba8, #214f93, #1d447e, #19396a, #152e57, #2a395e, #3b4464, #4b506b, #76788e, #a3a3b2, #d0d0d8, #ffffff);
    height: 100vh;
    background-size: cover;
    background-attachment: fixed;
    margin: 0; /* Optional:  Ensure no default margins interfere with full-screen effect */
    padding: 0; /
}

button {
    margin-top: 30px;
}

label, input {
    margin-bottom: 30px;
}

#mybutton {
	background:linear-gradient(to bottom, #2174cc 5%, #ad9603 100%);
	background-color:#2174cc;
	border-radius:8px; 
	display:inline-block;
	cursor:pointer;
	color:#fff7ff;
	font-family:Trebuchet MS;
	font-size:20px;
	font-weight:bold;
	padding:13px 32px;
	text-decoration:none;
    margin-bottom: 30px;
}

#mybutton:hover {
	background:linear-gradient(to bottom, #ad9603 5%, #2174cc 100%);
	background-color:#ad9603;
}

#mybutton:active {
	position:relative;
	top:1px;
}